p {
    margin: 0;
}

.Card {
    background: gray;
    border-radius: 1px;
}

.cardImg {
    text-align: center;
}

.cardTypes {
    display: flex;
    justify-content: center;    
}

.cardType {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: gold;
    color: black;
}

.cardName {
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
}

.cardInfo {
    margin-left: 10px;
}

.cardData {
    padding-bottom: 10px;
}

.cardData .title {
    font-weight: 700;
}